.homeCol {
  @extend .col-6;
  @extend .col-sm-4;

  text-align: center;

  a {
    @extend .mt-3;
    @extend .p-5;
    @extend .btn;
    @extend .btn-light;
    @extend .btn-block;
    @extend .d-flex;

    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    > img,
    > svg {
      @extend .img-fluid;
      max-height: 64px;
    }
  }
}
