$--grid-cols: 1fr;

.row {
    display: grid;
    gap: 3rem;

    @media only screen and (max-width: 680px) {
        grid-template-columns: 1fr;
    }
    @media only screen and (min-width: 681px) {
        grid-template-columns: var(--grid-cols);
    }
}
