/* Styles to load for the base index.html, before Vue is loaded */
@use '@app/styles/gridspinner';

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#prevue {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    background-color: var(--prevue-colors-background);

    .--prevue-text {
        color: var(--prevue-colors-background);
        filter: invert(100%);
    }

    div.spinner {
        width: 200px;
        height: 200px;

        @include gridspinner.gridspinner(var(--prevue-colors-primary), var(--edge-count));
    }
}
